.footer {
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #214a25;
}

.footer .social-icons a {
  margin: 0 10px;
  font-size: 30px;
  color: #fab634;
  display: inline-flex;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: white; /* Optional: Change to a color of your choice on hover */
}

/* Responsive */
@media (max-width: 768px) {
  /* .footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  } */
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}