.footer {
  padding: 20px;
  color: white;
  background-color: #214a25;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.footer .footer-left, 
.footer .footer-right {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .footer-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.footer-left p{
  margin: 0;
}

.footer .footer-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.footer .footer-right a {
  color: #fab634;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .footer-right a:hover {
  color: white;
}

.footer .social-icons {
  display: flex;
  gap: 20px;
}

.footer .social-icons a {
  font-size: 30px;
  color: #fab634;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer .social-icons a:hover {
  color: white;
  transform: scale(1.2) translateY(-5px);
}

.footer .footer-bottom {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer .footer-left, 
  .footer .footer-right {
    text-align: center;
    align-items: center;
  }
}
