.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  /* background-color: #f9f4f1; */
  
}

.hero-cart {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-logo {
  flex: 1;
  display: flex;
  padding-left: 5rem;
  flex-direction: column;
  justify-content: center;
  font-family: Averia Libre;
}

.hero-logo a {
  text-decoration: none;
  color: black;
}

.hero-logo h1 {
  margin: 0;
  font-size: 1.8rem;
}

.hero-logo h2 {
  margin: 0;
  font-size: 1rem;
  color: #3f3e3e;
}

.hero-sections {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-weight: bold;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Style for hero sections links with underline animation */
.hero-sections a {
  position: relative;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.hero-sections a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease;
}

.hero-sections a:hover {
  color: #fab634;
}

.hero-sections a:hover::after {
  width: 100%;
}

.cart-icon {
  position: relative;
  color: black;
  font-size: 1.8rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.cart-count {
  position: absolute;
  top: -5px; 
  right: -20px;
  /* background-color: rgb(147, 26, 62); */
  background-color: #fab634;
  color: black; 
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px; 
  font-size: 12px;
}

.cart-icon:hover {
  color: #fab634;
}

/* Large Screen Styles */
.large-screen {
  display: flex;
}

.mobile-screen {
  display: none; /* Hide mobile screen by default */
}

/* Mobile Styles */
@media (max-width: 1199px) {
  /* .hero {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  } */
  .large-screen {
    display: none; /* Hide large screen section on mobile */
  }

  .mobile-screen {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero-header {
    width: 100%;
    margin-bottom: 1rem;
  }

  .hero-logo {
    padding-left: 0.5rem;
  }
  
  .hero-logo h1 {
    font-size: 1.2rem;
    text-align: start;
  }
  
  .hero-logo h2 {
    font-size: 1rem;
    text-align: start;
  }
  
  .hero-sections {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 18px;
    font-size: 0.8rem;
    justify-items: center;
    margin-top: 10px;
  }

  .hero-cart {
    justify-content: flex-end;
  }

  .cart-icon {
    font-size: 1.8rem;
    padding-right: 1rem;
  }
  
  .cart-count {
    right: -5px;
    border-radius: 50%;
    padding: 2px 6px; 
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .hero-logo h1 {
    font-size: 1rem;
    text-align: start;
  }

  .hero-logo h2 {
    font-size: 0.8rem;
    text-align: start;
  }
}