.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin: 20px; */
    margin-top: 20px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .product-container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin: 20px; */
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .section-title { 
    width: 100%; 
    text-align: center;
    margin-top: 10px;
  } 
  .section-subtitle { 
    font-size: 1.2rem; 
    color: #555; 
  } 
  .section-main-title { 
    font-size: 2rem; 
    color: #214a25; 
    margin-top: 5px; 
  }
  
  .product-card {
    /* background-color: #EEEEEE; */
    border-radius: 20px;
    /* padding: 20px; */
    width: 300px;
    position: relative;overflow: hidden;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    margin-bottom: 2rem;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .product-card img {
    width: 100%;          /* Image takes full width of the card */
    height: 300px;        /* Fixed height for uniformity */
    object-fit: cover;    /* Ensures the image covers the area without distortion */
  }

  .badges {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 8px;
  }
  
  .badge {
    padding: 8px 12px;
    font-size: 12px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.345);
  }
  
  .featured {
    background-color: #214a25;
  }
  
  .for-sale {
    background-color: #007bff;
  }

  .card-content {
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .product-info{
    flex: 1;
  }
  
  .card-content p {
    margin: 4px 0;
  }
  
  .card-content h3 {
    margin: 8px 0;
    font-size: 18px;
    color: #333;
  }

  .product-type {
    font-weight: bold;
    color: #555;
    font-size: 0.8rem;
    font-weight: 500;
}
.product-price {
    display: flex;
    gap: 10px;
    align-items: center;
}

.original-price {
    font-size: 1rem;
    color: #888;
    text-decoration: line-through;
}

.current-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #214a25;
}

.star {
    font-size: 18px;
    color: #e0e0e0; 
}

.star.filled {
    color: #fab634;
}
  
  @media (max-width: 768px) {
    .product-container-main {
      flex-direction: column;
      align-items: center;
      /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* gap: 10px; */
    justify-items: center;
    /* padding: 0 10px; */
    }

    .product-card {
      margin-bottom: 10px;
    }

    .badges {
      top: 1.2rem;
      left: 1.2rem;
    }
    
    .badge {
     font-size: 12px;
    }
  }

  @media (max-width: 360px) {

    .product-card {
      margin: 0;
      width: 280px;
      width: 100%;
      margin-bottom: 10px;
    }

    .product-card img {
      width: 100%;
    }

    .badges {
      top: 1.2rem;
      left: 1.2rem;
    }
    
    .badge {
      font-size: 10px;
    }
  }

  @media (max-width: 480px) {

    .product-card {
      margin: 0;
      width: 100%;
      margin-bottom: 10px;
    }

    .product-card img {
      width: 100%;
    }
  }